sentence-transformers
faiss-cpu
chromadb
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-chroma
dotenv
streamlit
pymupdf
docx2txt

